html {
    background: linear-gradient(#ac0e0e, #3d1313);
    font-family: Calibri;
}

body {
    height: 100%;
    margin: 10px;
}

section {
    display: grid;
    height: calc(100vh - 20px);
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
      "header header header"
      "navBar main userArea"
      "footer footer footer";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

header {
    grid-area: header;
    background: aliceblue url('../images/heart.png') no-repeat 10px center/45px 45px;
    border-radius: 5px;
}

header .websiteName {
    font-size: 25px;
    padding-left: 65px;
    height: 70px;
    line-height: 70px;
}

nav.navBar {
    grid-area: navBar;
    background-color: aliceblue;
    border-radius: 5px;
}

nav.navBar ul {
    margin: 0;
    padding: 0;
}

nav.navBar ul li {
    display: block;
    margin: 4px;
    padding: 5px;
    border-radius: 3px;
}

nav.navBar ul li:hover {
    background-color: #f5dcdc;
    cursor: pointer;
}

.bar-title {
    margin: 4px;
    padding: 5px;
    font-size: 16px;
    background-color: #ac0e0e;
    border-radius: 3px;
    text-align: center;
}

aside.userArea {
    grid-area: userArea;
    background-color: aliceblue;
    border-radius: 5px;
}

main {
    grid-area: main;
    background-color: aliceblue;
    border-radius: 5px;
}

footer {
    grid-area: footer;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
}

footer .title {
    flex: 1;
    padding: 10px;
}

footer .loadTime {
    flex: 1;
    text-align: right;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    section {
        grid-template-columns: auto;
        grid-template-rows: 70px 1fr 1fr 1fr auto;
        grid-template-areas: 
          "header"
          "navBar"
          "main"
          "userArea"
          "footer";
        grid-row-gap: 10px;
        grid-column-gap: 0;
    }
}