html {
    background-color: brown;
    margin: 0;
    font-family: Calibri;
}

.content {
    margin: 30px auto;
    width: 900px;
    overflow: hidden;
}

.content .top {
    float: left;
    width: 900px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    height: 70px;
    background: aliceblue url('https://cdn.freebiesupply.com/images/large/2x/apple-logo-transparent.png') no-repeat 10px center/45px 45px;
}

.content .top .name {
    font-size: 25px;
    padding-left: 65px;
    height: 70px;
    line-height: 70px;
}

.content .left {
    background-color: aliceblue;
    float: left;
    width: 250px;
    border-radius: 10px;
}

.content .right {
    background-color: aliceblue;
    float: right;
    width: 640px;
    border-radius: 10px;
}

.content .bottom {
    background-color: aliceblue;
    float: left;
    width: 900px;
    border-radius: 10px;
    margin: 10px 0 0 0;
    text-align: right;
}

.padding {
    padding: 10px;
}

.content .left .menu div {
    padding: 5px;
    cursor: pointer;
}

.content .left .menu div:hover {
    background-color: antiquewhite;
}

.content-title {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid brown;
}